@font-face{
  font-family: "GT Walsheim Regular";
  src: url('GT-Walsheim-Pro-Regular.ttf') format('opentype');
}

@font-face{
  font-family: "GT Walsheim Bold";
  src: url('GT-Walsheim-Pro-Bold.ttf') format('opentype');
}

body{
  background: #ffffff;
  color: #000000;
  font-family: 'GT Walsheim Pro',Arial;
}

h1,h2,h3,h4,h5,h6,button {
  font-family: 'GT Walsheim Bold',Arial;
  letter-spacing: 0.25rem !important;
}

.highlighted-text{
  color:#000000;
}

p{
  font-family: 'GT Walsheim Regular',Arial;
}

/* Newsletter header*/
.logo-header{
  color:#000000;
  font-family:'GT Walsheim Bold',Arial;
  margin-bottom: 0rem;
}

/* Navigation menu*/

.logo-Header{
  color:#000000;
  font-family:'GT Walsheim Pro', Arial;
  margin-bottom: 0rem;
}
.navbar {
  background: #ffffff;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  backface-visibility: hidden;
  font-family:'GT Walsheim Bold',Arial;
  padding:0;
}

.navbar .navbar-no-bg {
  background: #ffffff;
}

.navbar-dark .navbar-nav {
  font-size: 1rem;
  color: #000000;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
  color:#000000;
  color: rgba(0, 0, 0, 0.8);
  border:0;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color:#787878; 
  border-bottom:1px solid #FFED00;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #FFED00;
  outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

  /* Responsive hamburger toggler*/
.navbar-dark .narbar-toggler{
  color:#FFED00;
  border-color:#FFED00;
 }

.navbar-toggler{
  background-color:#000000;
}

.navbar-toggler-icon{
  color:#000000;
}
  /* Responsive hamburger toggler*/
/* End of navigation menu*/

/* Banner each of the pages*/
.default-background, .restPages-background{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-position:center;
  background-size:cover;
  background-attachment: fixed;
  color:rgba(255,255,255,1.5);
}

.restPages-background{
  min-height:70vh;
}
/*End of Banners section*/

/*Filter buttons styling*/
.btn-yellow{
  color:#000000;
  border-radius:0px;
  border: 1px solid #FFED00;
  padding:22px 50px;

}

.btn-yellow:hover{
  background: #FFED00;
  color:#ffffff;
  border: 1px solid #FFED00;
}
/*End of Filter button styling*/

/*Beginning of carousel control*/
.carousel-control-next,
.carousel-control-prev{
  background-color:rgba(0,0,0,0.2);
}

.fixed-width-carousel{
  width:100%;
}

/*End of carousel section*/

/*Beginning of Footer section*/
.footer{
  background-color:#000;
}

.footer-text{
  color: #FFED00;
  padding:10px 0px;
  font-size:0.9rem;
}

.socials{
  width:3em;
  height:3em;
}

.footer-text-white, .footer a:hover, .footer .socials:hover{
  color:#ffffff;
}

.footer a:hover{
  text-decoration:underline;
}
/*End of Footer section */

.semi-transparent-background{
  background-color:rgba(0,0,0,0.5);
  color:rgba(255,255,255,1);
}

.random{
  width:80%;
  min-height:100%;
}

@media only screen and (max-width: 800px) {
  .random{
    width:100%;
    min-height:100%;
    font-size:0.75rem;
  }

  .fixed-width-carousel{
    width:100%;
  }
}

@media only screen and (max-width: 532px) {
  .fixed-width-carousel{
    margin-left:0.5%;
  }
}

.title{
  background-color:rgba(0,0,0,0.25);
}

