@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body{
  background: #fff;
  color: #1c1e26;
  font-family: 'Roboto Condensed',"Didact+Gothic, Sans-Serif, Verdana"!important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Condensed',"Didact+Gothic, Sans-Serif, Verdana"!important;
  letter-spacing: 0.25rem !important;
}

.highlighted-text{
  color:#1c1e26;
}

p{
  font-family: 'Roboto Condensed',"Didact+Gothic, Sans-Serif, Verdana"!important;
}
/* Newsletter header*/
.logo-header{
  color:#1c1e26;
  font-family:"Didact+Gothic, Sans-Serif, Verdana"!important;
  margin-bottom: 0rem;
}

/* Navigation menu*/

.logo-Header{
  color:#1c1e26;
  font-family:"Didact+Gothic, Sans-Serif, Verdana"!important;
  margin-bottom: 0rem;
}
.navbar {
  background: white;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  backface-visibility: hidden;
  font-family:"Didact+Gothic, Sans-Serif, Verdana"!important;
  padding:0;
}

.navbar .navbar-no-bg {
  background: white;
}

.navbar-dark .navbar-nav {
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
  color:black;
  color: rgba(0, 0, 0, 0.8);
  border:0;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color:#1c1e26; 
  border-bottom:1px solid #fdeb37;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #fdeb37;
  outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}

  /* Responsive hamburger toggler*/
.navbar-dark .narbar-toggler{
  color:#fdeb37!important;
  border-color:#fdeb37!important;
 }

.navbar-toggler{
  background-color:#1c1e26;
}

.navbar-toggler-icon{
  color:black!important;
}
  /* Responsive hamburger toggler*/
/* End of navigation menu*/

/* Banner each of the pages*/

.default-background, .restPages-background{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-position:center;
  background-size:cover;
  background-attachment: fixed;
  color:rgba(255,255,255,1.5);
}

.restPages-background{
  min-height:70vh;
}

/*End of Banners section*/
.secondary-text{
  color:rgba(0,0,0,0.5);
}
/*Filter buttons styling*/
.btn-yellow{
  color:#1c1e26;
  border-radius:0px !important;
  border: 1px solid #fdeb37;

}

.btn-yellow:hover{
  background: #fdeb37;
  color:#fff;
  border: 1px solid #fdeb37;
}
/*End of Filter button styling*/

/*Beginning of carousel control*/
.carousel-control-next,
.carousel-control-prev{
  background-color:rgba(0,0,0,0.2);
}
/*End of carousel section*/

/*Beginning of Footer section*/
.footer{
  background-color:#000;
}

.footer-text{
  color: #fdeb37;
}

.btn-fb, .fab{
  color:red;
}
/*End of Footer section */

.semi-transparent-background{
  background-color:rgba(0,0,0,0.5);
  color:rgba(255,255,255,1);
}

.random{
  width:80%;
  min-height:100%;
}

@media only screen and (max-width: 800px) {
  .random{
    width:100%;
    min-height:100%;
    font-size:0.75rem;
  }
}
